<h4>Last telemetry packet:</h4>
  <div id="telemPacket" class="well well-sm">
    <dl class="dl-horizontal">
      <dt>Lon:</dt>
      <dd id="G_LON"></dd>
      <dt>Lat:</dt>
      <dd id="G_LAT"></dd>
      <dt>Alt:</dt>
      <dd id="G_ALT"></dd>
      <dt>Qty:</dt>
      <dd id="G_QTY"></dd>
      
      <hr/>
      
      <dt>Pitch:</dt>
      <dd id="O_P"></dd>
      <dt>Roll:</dt>
      <dd id="O_R"></dd>
      <dt>Yaw:</dt>
      <dd id="O_Y"></dd>

      <hr/>
      
      <dt>W_L:</dt>
      <dd id="W_L"></dd>
      <dt>W_R:</dt>
      <dd id="W_R"></dd>
    </dl>

    </dl>
  </div>