<h4>Last telemetry packet:</h4>
  <div id="telemPacket" class="well well-sm">
    <dl class="text-left">
      <dt>State:</dt>
      <dd id="STATE"></dd>
      
      <hr/>
      
      <dt>Lon:</dt>
      <dd id="G_LON"></dd>
      <dt>Lat:</dt>
      <dd id="G_LAT"></dd>
      <dt>Alt:</dt>
      <dd id="G_ALT"></dd>
      <dt>Qty:</dt>
      <dd id="G_QTY"></dd>
      
      <hr/>
      
      <dt>Pitch:</dt>
      <dd id="O_P"></dd>
      <dt>Roll:</dt>
      <dd id="O_R"></dd>
      <dt>Yaw:</dt>
      <dd id="O_Y"></dd>
    </dl>

    </dl>
  </div>